*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body{
    background-color: white;
    color: black;
    font-family: "SPACE GROTESK";
}

img{
    max-width: 100%;
    height: auto;
    width: 500px;
}

a{
    text-decoration: none;
    color: rgb(0, 255, 136);
}
title{

}
.menu-container
.menu-list
.list-item
var view = UIView()
view.frame = CGRect(x: 0, y: 0, width: 1280, height: 2548)
view.layer.backgroundColor = UIColor(red: 1, green: 1, blue: 1, alpha: 1).cgColor
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body{
    background-color: rgb(245, 240, 242);
    color: black;
    font-family: "SPACE GROTESK";
}
p{
    border-radius: 15px;
    padding: 20px;
    font-size: 15px;
    font-weight: bolder;
}





   .menu-container{
        display: flex;
        justify-content: space-between;
        align-items: center;
        padding: 20px;
        background-color: rgb(255, 255, 255);
    }
   .menu-list{
        display: flex;
        list-style-type: none;
    }
   .list-item{
        margin-left: 30px;
        cursor: pointer;
    }
}

/*table style*/
.table{
    border: coll;
    width: 100%;
}
tr,th{
    border: 1px solid #0e0e0f;
    padding: 8px;

}
/*table style*/
